@font-face {
  font-family: 'Raleway';
  src:
    url('../fonts/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src:
    url('../fonts/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Raleway';
}

.page {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header__links-list {
  display: flex;
  gap: 25px;
  list-style-type: circle;
  margin: 0;
  padding: 0;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__logo-image {
  width: 100%;
  display: block;
}

.header__link_active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-style: normal;
  align-items: flex-start;
  max-width: 200px;
  text-align: left;
}

.address__text {
  margin: 0;
}

.address__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: inherit;
}

.header__address {
  justify-self: end;
}

.cover {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  min-height: 508px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 0.8;
  margin: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 78px;
  justify-content: flex-end;
}

.cover__description-text {
  word-spacing: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
}

.bet-button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 24px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.lots__card-list-item {
  flex-basis: calc((100% - 25px * 2) / 3);
  min-height: 563px;
  display: flex;
}

.lots__heading {
  margin: 0;
  padding: 40px 0;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__look-more-link {
  display: block;
  width: fit-content;
  margin-top: 30px;
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
}

.card {
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 52px 40px;
  height: 100%;
  width: 100%;
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card__title,
.card__description {
  position: relative;
  z-index: 2;
  color: #fff;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}
.about {
  display: grid;
  grid-template-columns: calc((100% - 25px * 2) / 3) 1fr;
  gap: 25px;
  padding: 180px 50px;
}

.about__column:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo {
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text p {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 180px 50px 90px;
  gap: 20px;
}

.footer__address {
  align-items: flex-start;
  justify-self: start;
}

.footer__menu {
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__menu-link {
  text-decoration: underline;
  color: #000;
  font-size: 18px;
}

.footer__menu-list-item {
  margin-bottom: 8px;
}

.footer__menu-list-item:last-child {
  margin-bottom: 0;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  display: block;
  line-height: 0;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-self: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  display: block;
}
