.page {
  width: 1100px;
  margin: 0 auto;
}

.header {
  width: 1100px;
  display: flex;
  align-items: start;
  padding: 92px 50px 96px;
  box-sizing: border-box;
}

.header__menu {
  width: 391.48px;
  margin-top: 41px;
  margin-right: 36.52px;
}

.header__links-list {
  display: flex;
  gap: 25px;
  list-style-type: circle;
  margin: 0;
  padding: 0;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}
.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  margin-top: 0;
  margin-right: 184px;
}

.header__logo-image {
  width: 100%;
  display: block;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-style: normal;
  line-height: 1.2;
  align-items: flex-start;
  max-width: 240px;
  text-align: left;
}

.header__address {
  width: 240px;
  margin-top: 3px;
}

.address__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: inherit;
}

.address__text {
  margin: 0;
  max-width: 200px;
  line-height: 1.5;
}

.cover {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  width: 1100px;
  height: 757px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 165px 50px 50px;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  margin-top: 0;
  flex-grow: 1;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  align-self: center;
}

.aligned-text_right {
  text-align: right;
  align-self: flex-end;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  margin-top: auto;
}

.cover__description-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
  margin: 0;
  font-family: "Raleway", Arial, sans-serif;
  letter-spacing: 0;
  word-spacing: 19.8px;
}

.bet-button {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 22px;
  width: 256px;
  min-height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.lots {
  margin-top: 180px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.lots__heading {
  padding: 0;
  margin-top: 0;
  margin-left: 40px;
  margin-bottom: 27px;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1;
}

.lots__card-list {
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0 24px;
  gap: 25px;
}

.lots__card-list-item {
  flex-basis: 334px;
  min-height: 596px;
  display: flex;
}

.lots__look-more-link {
  display: block;
  width: fit-content;
  margin: 30px 0 0 40px;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 52px 40px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.card__text {
  margin: 0;
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.card__description {
  position: relative;
  z-index: 2;
  color: #fff;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.about {
  margin-top: 120px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 72px;
  padding: 35px 50px 70px;
  box-sizing: border-box;
}

.about__column:first-child {
  margin-left: 0;
}

.about__column:last-child {
  max-width: 693px;
}

.about__logo {
  background-color: #000;
  width: 240px;
  height: 240px;
  margin: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 141px;
  height: auto;
}

.about__title {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 101px;
  margin-bottom: 100px;
  line-height: 1;
}

.about__text {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 693px;
}

.about__text p {
  margin: 0;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  width: 1100px;
  margin-top: 180px;
  padding: 0 50px 90px;
  display: grid;
  grid-template-columns: 240px 154px auto 177px auto;
  align-items: start;
  box-sizing: border-box;
}

.footer__address {
  grid-column: 1;
  width: 240px;
  padding-bottom: 82px;
  margin: 0;
}

.footer__menu {
  grid-column: 3;
  padding-bottom: 115px;
  display: flex;
  justify-content: center;
}

.footer__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
  color: #000;
  font-size: 18px;
  line-height: 1.2;
  white-space: nowrap;
}

.footer__menu-list-item {
  margin-bottom: 8px;
}

.footer__menu-list-item:last-child {
  margin-bottom: 0;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  display: block;
  line-height: 0;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  grid-column: 5;
  padding-bottom: 151px;
  display: flex;
  gap: 16px;
  justify-self: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  display: block;
}
