.page {
  width: 1100px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 92px 50px 96px;
  box-sizing: border-box;
  margin-bottom: 0;
}

.header__menu {
  width: 392px;
  margin-top: 46px;
  margin-right: 37px;
}

.header__links-list {
  display: flex;
  gap: 25px;
  list-style-type: circle;
  margin: 0;
  padding: 0;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}
.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  margin-top: 0;
  margin-right: 184px;
  flex-shrink: 0;
}

.header__logo-image {
  width: 100%;
  display: block;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-style: normal;
  align-items: flex-start;
  max-width: 240px;
  text-align: left;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.header__address {
  width: 240px;
  margin-top: 3px;
}

.address__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: inherit;
}

.address__text {
  margin: 0;
  max-width: 200px;
  line-height: 24px;
}

.cover {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 757px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 165px 50px 50px;
  box-sizing: border-box;
  margin-top: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  width: 1000px;
  margin: 0;
  margin-bottom: 106px;
  flex-grow: 1;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  align-self: center;
}

.aligned-text_right {
  text-align: right;
  align-self: flex-end;
}

.cover__description {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  margin-top: auto;
}

.cover__description-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
  margin: 0;
  font-family: "Raleway", Arial, sans-serif;
  letter-spacing: 0;
  word-spacing: 0.85em;
}

.bet-button {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 22px;
  width: 256px;
  min-height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.lots {
  width: 1052px;
  margin: 180px auto 120px;
  padding: 0;
  box-sizing: border-box;
}

.lots__heading {
  width: 121px;
  margin: 0 891px 27px 40px;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 47px;
}

.lots__card-list {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  gap: 25px;
}

.lots__card-list-item {
  flex-basis: 334px;
  min-height: 596px;
  display: flex;
}

.lots__look-more-link {
  display: block;
  width: 192px;
  margin: 0 820px 0 40px;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #000;
  font-size: 20px;
  white-space: nowrap;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 52px 40px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.card__text {
  margin: 0;
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.card__description {
  position: relative;
  z-index: 2;
  color: #fff;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.about {
  width: 1052px;
  margin: 120px auto 180px;
  position: relative;
  padding: 35px 0 13px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about__column:first-child {
  padding-left: 23px;
}

.about__column:last-child {
  max-width: 693px;
  padding-top: 98px;
}

.about__logo {
  background-color: #000;
  width: 240px;
  height: 240px;
  margin-left: 47px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.about__logo-image {
  width: 141px;
  height: auto;
}

.about__title {
  width: 100%;
  margin: 0 0 100px 0;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 40px;
}

.about__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text p {
  margin: 0;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  width: 100%;
  margin: 180px auto 0;
  padding: 0 50px 82px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}

.footer__address {
  width: 265px;
  margin-right: 154px;
  margin-top: 0;
}

.footer__menu {
  width: 164px;
  margin-right: 177px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
  color: #000;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
}

.footer__menu-list-item {
  margin-bottom: 8px;
}

.footer__menu-list-item:last-child {
  margin-bottom: 0;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  display: block;
  line-height: 0;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  width: 240px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  display: block;
  object-fit: contain;
}
